<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <meta name="description" content="<%= description %>">
</head>
<body>
    <h1>Test Page</h1>
    <p>Description: <%= description %></p>
</body>
</html>